
body {
  font-family: Roboto, sans-serif;
  margin: 0;
}
li,
.white {
  color: #F9FAF8;
}
.gray {
  color: #E5E7EB;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.margin-section {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 20px;
  flex-direction: column;
}
.dark-bg {
  background-color: #1F2937;
}
.dark {
  color: #1F2937;
}
.px36 {
  font-size: 36px;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
}
header.px24 {
  font-size: 24px;
  font-weight: bold;
}
ul {
    margin-left: auto;
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
  }
  .btn {
    display: inline-block;
    font-weight: 600;
    color: #212529;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
}
.btn:hover{
    background-color: #0069d9;
}
.main {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 40px;
    padding-left: 10px;
}
h1 {
  font-size: 48px;
}
.extrabold {
  font-weight: 900;
}
p.gray {
  font-size: 18px;
  margin-top: -33px;
}
.main > div {
    width: fit-content;
}
span#img1 {
    margin-left: 3rem;
    padding-top: 30px;
}
section.one {
    width: 70vh;
    height: fit-content;
    margin-left: auto;
    padding-left: 30px;
}
.main img {
    max-width: 90%;
}

.two {
  padding-bottom: 60px;
  padding-top: 30px;
}
div.px36 {
  padding: 0;
  padding-bottom: 30px;
}
section.videos {
  display: flex;
  gap: 3rem;
  width: 80%;
  justify-content: space-evenly;
}
.videos > * {
  flex: 1;
  text-align: center;
}
.video article {
  width: inherit;
  text-align: center;
}
iframe {
  border: 3px solid #007bff;
  border-radius: .35rem;
}
.three {
  background-color: #E5E7EB;
}